@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

:root{
  --background : black;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  box-sizing: inherit;
}

.page{
  font-family: sans-serif;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-box{
  background-color: #fff;
  padding: 30px;
  width: 70%;
  max-width: 700px;
  border-radius: 5px;
}

.quote-text{
  color: var(--background);
  margin-bottom: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1.4;
}

.quote-author{
  color: var(--background);
  font-weight: lighter;
  font-size: 1.4rem;
  text-align: right;
}

.box-control{
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.box-control-btn{
  background-color: var(--background);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}